/** Main layout **/
html, body {
  height : 100%;
  margin : 0;
}

body {
  width  : 100%;
  margin : auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration : none;
}

#wrap {
  min-height : 100%;
}

#main {
  overflow       : auto;
  padding-top    : 60px;
  padding-bottom : 84px;
}

/* must be same height as the footer */
#footer {
  background  : url("./images/footer.png") no-repeat center;
  position    : relative;
  margin-top  : -64px; /* negative value of footer height */
  padding-top : 20px;
  height      : 44px;
  text-align  : center;
  clear       : both;
}

/*Opera Fix*/
body:before {
  content    : "";
  height     : 100%;
  float      : left;
  width      : 0;
  margin-top : -32767px;
}

.navbar img {
  margin-top    : 10px;
  margin-right  : 10px;
  /* Ensure to keep the same size on the navbar even when it has no menu */
  margin-bottom : 10px;
}

/*
 * Icon
 */
img.icon {
  border         : 0, 5px, 0, 5px;
  padding: 0 0 3px 0;
  vertical-align : bottom;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top : 30px;
}

section>ul li {
  margin-bottom : 5px;
}

/* Alerts */
.red {
  font-weight : bolder;
  color       : #D00
}

.orange {
  font-weight : bold;
  color       : #F60
}

.green {
  font-weight : normal;
  color       : #060
}

.blue {
  font-weight : normal;
  color       : #006
}

/* logs */
.code p {
  white-space : nowrap;
}

.latest p {
  white-space : nowrap;
}

.instructions {
  padding       : 5px;
  margin-bottom : 10px;
}

.latest {
  border-top       : 1px solid #666;
  border-bottom    : 1px solid #666;
  background-color : #eee;
  padding          : 5px;
  font-family      : Courier, monospace;
}

.errors {
  border-top       : 1px solid #600;
  border-bottom    : 1px solid #600;
  background-color : #fee;
  padding          : 5px;
  font-family      : Courier, monospace;
}

.errors b {
  color : #600;
}

.warnings {
  border-top       : 1px solid #660;
  border-bottom    : 1px solid #660;
  background-color : #ffe;
  padding          : 5px;
  font-family      : Courier, monospace;
}

.warnings b {
  color : #660;
}

.notices {
  border-top       : 1px solid #666;
  border-bottom    : 1px solid #666;
  background-color : #eee;
  padding          : 5px;
  font-family      : Courier, monospace;
}

.code {
  background-color : #eee;
  border-top       : 1px solid #666;
  border-bottom    : 1px solid #666;
  padding          : 5px;
  font-family      : Courier, monospace;
}

code {
  font-family : Courier, monospace;
}

/* google prettify */
.com {
  color : #93a1a1;
}

.lit {
  color : #195f91;
}

.pun, .opn, .clo {
  color : #93a1a1;
}

.fun {
  color : #dc322f;
}

.str, .atv {
  color : #D14;
}

.kwd, .prettyprint .tag {
  color : #1e347b;
}

.typ, .atn, .dec, .var {
  color : teal;
}

.pln {
  color : #48484c;
}

.prettyprint {
  padding          : 8px;
  background-color : #f7f7f9;
  border           : 1px solid #e1e1e8;
}

.prettyprint.linenums {
  -webkit-box-shadow : inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow    : inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow         : inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin : 0 0 0 33px; /* IE indents via margin-left */
}

ol.linenums li {
  padding-left : 12px;
  color        : #bebec5;
  line-height  : 20px;
  text-shadow  : 0 1px 0 #fff;
}

/* Customize modal */
.modal-body {
  max-height : 450px;
}

.bigModal{
   width:940px;
   margin-left:-470px;
}

/* special class to horizontaly center a table cell content */
table th.col-center, table td.col-center {
  text-align : center;
}

table th.col-right, table td.col-right {
  text-align : right;
}

table th.col-left, table td.col-left {
  text-align : left;
}

tr.highlight td {
  background-color : #ffd700;
  font-weight: bold;
}

/* Fix for anchors due to fix navbar usage - see http://stackoverflow.com/questions/9047703/fixed-position-navbar-obscures-anchors */
a[name] {
  padding-top : 64px;
  margin-top  : -64px;
  display     : inline-block; /* required for webkit browsers */
}

.label {
  font-weight: normal;
}

a {
  color: #558bc4;
}