/** Main layout **/
html,body {
	height: 100%;
	margin: 0px;
}

body {
	width: 100%;
	margin: auto;
}

a:link,a:visited,a:hover,a:active {
	text-decoration: none;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-top: 60px;
	padding-bottom: 84px;
}

/* must be same height as the footer */
#footer {
	background: url("./images/footer.png") no-repeat center;
	position: relative;
	margin-top: -64px; /* negative value of footer height */
	padding-top: 20px;
	height: 44px;
	text-align: center;
	clear: both;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

.navbar img {
	margin-top: 10px;
	margin-right: 10px;
	/* Ensure to keep the same size on the navbar even when it has no menu */
	margin-bottom: 10px;
}

/*
 * Icon
 */
img.icon {
	width: 16px;
	height: 16px;
	border: 0px, 5px, 0px, 5px;
	vertical-align: text-bottom;
}

/* Sections
-------------------------------------------------- */

/* padding for in-page bookmarks and fixed navbar */
section {
	padding-top: 30px;
}

section>ul li {
	margin-bottom: 5px;
}

/* Sidenav for Docs
-------------------------------------------------- */
.left-sidenav {
	margin: 30px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
}

.left-sidenav>li>a {
	display: block;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
}

.left-sidenav>li:first-child>a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.left-sidenav>li:last-child>a {
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}

.left-sidenav>.active>a {
	position: relative;
	z-index: 2;
	padding: 9px 15px;
	border: 0;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0
		rgba(0, 0, 0, .1);
}
/* Chevrons */
.left-sidenav .icon-chevron-right {
	float: right;
	margin-top: 2px;
	margin-right: -6px;
	opacity: .25;
}

.left-sidenav>li>a:hover {
	background-color: #f5f5f5;
}

.left-sidenav a:hover .icon-chevron-right {
	opacity: .5;
}

.left-sidenav .active .icon-chevron-right,.left-sidenav .active a:hover .icon-chevron-right
	{
	background-image: url(../img/glyphicons-halflings-white.png);
	opacity: 1;
}

/*
 * DataTables style compat with bootstrap
 */
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,table.table thead .sorting_asc,table.table thead .sorting_desc,table.table thead .sorting_asc_disabled,table.table thead .sorting_desc_disabled
	{
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting {
	background: url('images/sort_both.png') no-repeat center right;
}

table.table thead .sorting_asc {
	background: url('images/sort_asc.png') no-repeat center right;
}

table.table thead .sorting_desc {
	background: url('images/sort_desc.png') no-repeat center right;
}

table.table thead .sorting_asc_disabled {
	background: url('images/sort_asc_disabled.png') no-repeat center right;
}

table.table thead .sorting_desc_disabled {
	background: url('images/sort_desc_disabled.png') no-repeat center right;
}

table.dataTable th:active {
	outline: none;
}

table.dataTable thead th {
	border-bottom: none;
}