SetEnv ADT_DATA "${ADT_DATA}"
SetEnv ACCEPTANCE_SERVERS "${ACCEPTANCE_SERVERS}"
SetEnv ADT_APACHE_VERSION "${ADT_APACHE_VERSION}"
SetEnv ADT_APACHE_VERSION_MINOR "${ADT_APACHE_VERSION_MINOR}"
# To test DEPLOYMENT_MATRIX_ENABLED variable
# SetEnv DEPLOYMENT_MATRIX_ENABLED "${DEPLOYMENT_MATRIX_ENABLED}"

Include ${ADT_DATA}/conf/apache/sites-available/
